body {
    height: 100vh;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 100px;
}

.logo {
    height: 50px;
    color:#E5E7EB;
    font-weight: 700;
}

.links {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header, .section1 ,footer {
    background-color: #1f2937;
}

.section1 {
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.s1-left, .s1-img {
    flex: 1;
}

.s1-header {
    font-size: 48px;
    font-weight:bolder;
    color:  #f9faf8;
}

.s1-text {
    color: #E5E7EB;
    font-size: 18px;
}

.s1-header, .s1-text {
    margin-bottom: 8px;
}

.s1-button {
    background-color: #3882f6;
    color: #E5E7EB;
    border-style: none;
    border-radius: 4px;
    padding: 4px 16px;
}

.s1-img {
    background-color: grey;
    color: white;
    text-align: center;
}

.s2-header {
    text-align: center;
}

.s2-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 75px;
}

.s2-sub {
    width: 150px;
    text-align: center;
}

.s2-img {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #3882f6;
    border-width: 4px;
    border-radius: 10px;
}

.section3 {
    background-color: #E5E7EB;
    padding: 100px 200px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.quote-source {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

.s4-container {
    margin: 75px 100px;
    padding: 50px 100px;
    background-color: #3882f6;
    border-style: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.s4-text, .s4-header {
    margin: 0;
    color: #f9faf8;
}

.s4-text {
    margin-bottom: 8px;
    font-weight: 100;
}

.s4-button {
    color:#f9faf8 ;
    align-self: center;
    background-color: #3882f6;
    border-color: #E5E7EB;
    border-radius: 4px;
    border-style: solid;
    padding: 4px 16px;
}

footer {
    text-align: center;
    color: #E5E7EB;
    padding: 16px;
}